.tw-ico.xdel {
  width: 16px;
  height: 16px; 
  background-position: -518px -570px;
  background-size: 622px 616px;
}

.tw-ico.xdetail {
  width: 16px;
  height: 16px; 
  background-position: -463px -520px;
  background-size: 622px 616px;
}

.tw-ico.xedit {
  width: 16px;
  height: 16px; 
  background-position: -544px -570px;
  background-size: 622px 616px;
}

.tw-ico.xsync {
  width: 16px;
  height: 16px; 
  background-position: -570px -570px;
  background-size: 622px 616px;
}

a:hover > .tw-ico.xdel {
  width: 16px;
  height: 16px; 
  background-position: 0px -600px;
  background-size: 622px 616px;
}

a:hover > .tw-ico.xdetail {
  width: 16px;
  height: 16px; 
  background-position: -596px -570px;
  background-size: 622px 616px;
}

a:hover > .tw-ico.xedit {
  width: 16px;
  height: 16px; 
  background-position: -26px -600px;
  background-size: 622px 616px;
}

a:hover > .tw-ico.xsync {
  width: 16px;
  height: 16px; 
  background-position: -78px -600px;
  background-size: 622px 616px;
}

.tw-ico.xerror {
  width: 16px;
  height: 16px; 
  background-position: -104px -600px;
  background-size: 622px 616px;
}

.tw-ico.xerror.xlarge {
  width: 24px;
  height: 24px; 
  background-position: -158px -520px;
  background-size: 622px 616px;
}

.tw-ico.xinfo {
  width: 16px;
  height: 16px; 
  background-position: -130px -600px;
  background-size: 622px 616px;
}

.tw-ico.xinfo.xlarge {
  width: 24px;
  height: 24px; 
  background-position: -226px -520px;
  background-size: 622px 616px;
}

.tw-ico.xoff {
  width: 24px;
  height: 24px; 
  background-position: -260px -520px;
  background-size: 622px 616px;
}

.tw-ico.xsuccess {
  width: 16px;
  height: 16px; 
  background-position: -156px -600px;
  background-size: 622px 616px;
}

.tw-ico.xsuccess.xlarge {
  width: 24px;
  height: 24px; 
  background-position: -328px -520px;
  background-size: 622px 616px;
}

.tw-ico.xwarning {
  width: 16px;
  height: 16px; 
  background-position: -182px -600px;
  background-size: 622px 616px;
}

.tw-ico.xwarning.xlarge {
  width: 24px;
  height: 24px; 
  background-position: -590px -522px;
  background-size: 622px 616px;
}

.js-xcollapse.xopen .tw-ico.xcollapse:hover {
  width: 12px;
  height: 12px; 
  background-position: -567px -520px;
  background-size: 622px 616px;
}

.js-xcollapse.xopen .tw-ico.xcollapse {
  width: 12px;
  height: 12px; 
  background-position: -348px -600px;
  background-size: 622px 616px;
}

.tw-filter-collapsebtn > .tw-ico.xcollapse:hover {
  width: 12px;
  height: 12px; 
  background-position: -392px -600px;
  background-size: 622px 616px;
}

.tw-filter-collapsebtn > .tw-ico.xcollapse {
  width: 12px;
  height: 12px; 
  background-position: -260px -600px;
  background-size: 622px 616px;
}

.tw-filter-collapsebtn.xcollapse > .tw-ico.xcollapse:hover {
  width: 12px;
  height: 12px; 
  background-position: -370px -600px;
  background-size: 622px 616px;
}

.tw-filter-collapsebtn.xcollapse > .tw-ico.xcollapse {
  width: 12px;
  height: 12px; 
  background-position: -282px -600px;
  background-size: 622px 616px;
}

.tw-ico.xcollapse:hover {
  width: 12px;
  height: 12px; 
  background-position: -304px -600px;
  background-size: 622px 616px;
}

.tw-ico.xcollapse {
  width: 12px;
  height: 12px; 
  background-position: -326px -600px;
  background-size: 622px 616px;
}

.tw-ico.xapfirst {
  width: 8px;
  height: 10px; 
  background-position: -540px -500px;
  background-size: 622px 616px;
}

.tw-ico.xaplast {
  width: 8px;
  height: 10px; 
  background-position: -490px -450px;
  background-size: 622px 616px;
}

.tw-ico.xapnext {
  width: 5px;
  height: 10px; 
  background-position: -501px -600px;
  background-size: 622px 616px;
}

.tw-ico.xapprev {
  width: 5px;
  height: 10px; 
  background-position: -486px -600px;
  background-size: 622px 616px;
}

.tw-ico.xaprefresh {
  width: 10px;
  height: 11px; 
  background-position: -470px -371px;
  background-size: 622px 616px;
}

.tw-ico.xpfirst {
  width: 8px;
  height: 10px; 
  background-position: -508px -450px;
  background-size: 622px 616px;
}

.tw-ico.xplast {
  width: 8px;
  height: 10px; 
  background-position: -420px -400px;
  background-size: 622px 616px;
}

.tw-ico.xpnext {
  width: 5px;
  height: 10px; 
  background-position: -456px -400px;
  background-size: 622px 616px;
}

.tw-ico.xpprev {
  width: 5px;
  height: 10px; 
  background-position: -471px -400px;
  background-size: 622px 616px;
}

.tw-ico.xprefresh {
  width: 10px;
  height: 11px; 
  background-position: -470px -350px;
  background-size: 622px 616px;
}

.tw-pagination.xfront .tw-ico.xpfirst:hover {
  width: 30px;
  height: 30px; 
  background-position: -590px -408px;
  background-size: 622px 616px;
}

.tw-pagination.xfront .tw-ico.xpfirst {
  width: 30px;
  height: 30px; 
  background-position: -590px -368px;
  background-size: 622px 616px;
}

.tw-pagination.xfront .tw-ico.xplast:hover {
  width: 30px;
  height: 30px; 
  background-position: -590px -328px;
  background-size: 622px 616px;
}

.tw-pagination.xfront .tw-ico.xplast {
  width: 30px;
  height: 30px; 
  background-position: -590px -288px;
  background-size: 622px 616px;
}

.tw-pagination.xfront .tw-ico.xpnext:hover {
  width: 30px;
  height: 30px; 
  background-position: -590px -248px;
  background-size: 622px 616px;
}

.tw-pagination.xfront .tw-ico.xpnext {
  width: 30px;
  height: 30px; 
  background-position: -590px -448px;
  background-size: 622px 616px;
}

.tw-pagination.xfront .tw-ico.xpprev:hover {
  width: 30px;
  height: 30px; 
  background-position: -590px -168px;
  background-size: 622px 616px;
}

.tw-pagination.xfront .tw-ico.xpprev {
  width: 30px;
  height: 30px; 
  background-position: -590px -208px;
  background-size: 622px 616px;
}

.tw-ico.xadmin {
  width: 32px;
  height: 32px; 
  background-position: -590px -84px;
  background-size: 622px 616px;
}

.tw-ico.xadmin.xsmall {
  width: 20px;
  height: 20px; 
  background-position: -120px -570px;
  background-size: 622px 616px;
}

.tw-ico.xbug {
  width: 18px;
  height: 18px; 
  background-position: -378px -570px;
  background-size: 622px 616px;
}

.tw-ico.xcmonth {
  width: 18px;
  height: 18px; 
  background-position: -350px -570px;
  background-size: 622px 616px;
}

.tw-ico.xdev {
  width: 18px;
  height: 17px; 
  background-position: -490px -570px;
  background-size: 622px 616px;
}

.tw-ico.xeco {
  width: 48px;
  height: 28px; 
  background-position: -100px -520px;
  background-size: 622px 616px;
}

.tw-ico.xeco.xsmall {
  width: 28px;
  height: 16px; 
  background-position: -398px -520px;
  background-size: 622px 616px;
}

.tw-ico.xleader {
  width: 18px;
  height: 18px; 
  background-position: -210px -570px;
  background-size: 622px 616px;
}

.tw-ico.xleader.xactive {
  width: 18px;
  height: 18px; 
  background-position: -238px -570px;
  background-size: 622px 616px;
}

.tw-ico.xmobile {
  width: 32px;
  height: 32px; 
  background-position: -590px 0px;
  background-size: 622px 616px;
}

.tw-ico.xmobile.xsmall {
  width: 20px;
  height: 20px; 
  background-position: -60px -570px;
  background-size: 622px 616px;
}

.tw-ico.xmultiple {
  width: 32px;
  height: 32px; 
  background-position: -590px -126px;
  background-size: 622px 616px;
}

.tw-ico.xmultiple.xsmall {
  width: 20px;
  height: 20px; 
  background-position: -30px -570px;
  background-size: 622px 616px;
}

.tw-ico.xnmonth {
  width: 18px;
  height: 18px; 
  background-position: -434px -570px;
  background-size: 622px 616px;
}

.tw-ico.xproject {
  width: 18px;
  height: 18px; 
  background-position: -406px -570px;
  background-size: 622px 616px;
}

.tw-ico.xspeed {
  width: 18px;
  height: 18px; 
  background-position: -322px -570px;
  background-size: 622px 616px;
}

.tw-ico.xsummary {
  width: 18px;
  height: 18px; 
  background-position: -294px -570px;
  background-size: 622px 616px;
}

.tw-ico.xweb {
  width: 32px;
  height: 32px; 
  background-position: -590px -42px;
  background-size: 622px 616px;
}

.tw-ico.xweb.xsmall {
  width: 20px;
  height: 20px; 
  background-position: 0px -570px;
  background-size: 622px 616px;
}

.tw-ico.xfeleader {
  width: 18px;
  height: 18px; 
  background-position: -462px -570px;
  background-size: 622px 616px;
}

.tw-ico.xfeleader.xactive {
  width: 18px;
  height: 18px; 
  background-position: -266px -570px;
  background-size: 622px 616px;
}

.tw-ico.xfe {
  width: 26px;
  height: 20px; 
  background-position: -362px -520px;
  background-size: 622px 616px;
}

.tw-ico.x40.xraudio {
  width: 40px;
  height: 40px; 
  background-position: -490px -200px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrcourseware {
  width: 40px;
  height: 40px; 
  background-position: -490px -250px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrdir {
  width: 40px;
  height: 40px; 
  background-position: -490px -300px;
  background-size: 622px 616px;
}

.tw-ico.x40.xredue {
  width: 40px;
  height: 40px; 
  background-position: -490px -350px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrepub {
  width: 40px;
  height: 40px; 
  background-position: -490px -400px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrepub2 {
  width: 40px;
  height: 40px; 
  background-position: 0px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrepub3 {
  width: 40px;
  height: 40px; 
  background-position: -50px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrexcel {
  width: 40px;
  height: 40px; 
  background-position: -100px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrflash {
  width: 40px;
  height: 40px; 
  background-position: -150px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrformula {
  width: 40px;
  height: 40px; 
  background-position: -200px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrgoodteaching {
  width: 40px;
  height: 40px; 
  background-position: -250px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrh5 {
  width: 40px;
  height: 40px; 
  background-position: -300px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrimage {
  width: 40px;
  height: 40px; 
  background-position: -350px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrnet {
  width: 40px;
  height: 40px; 
  background-position: -400px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrotcase {
  width: 40px;
  height: 40px; 
  background-position: -450px -470px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrother {
  width: 40px;
  height: 40px; 
  background-position: -540px 0px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrpaper {
  width: 40px;
  height: 40px; 
  background-position: -540px -50px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrpdf {
  width: 40px;
  height: 40px; 
  background-position: -540px -100px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrpformula {
  width: 40px;
  height: 40px; 
  background-position: -540px -150px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrppt {
  width: 40px;
  height: 40px; 
  background-position: -250px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrquestion {
  width: 40px;
  height: 40px; 
  background-position: -540px -250px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrteachcase {
  width: 40px;
  height: 40px; 
  background-position: -540px -300px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrteachtool {
  width: 40px;
  height: 40px; 
  background-position: -540px -350px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrtext {
  width: 40px;
  height: 40px; 
  background-position: -540px -400px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrvideo {
  width: 40px;
  height: 40px; 
  background-position: -540px -450px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrword {
  width: 40px;
  height: 40px; 
  background-position: 0px -520px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrxml {
  width: 40px;
  height: 40px; 
  background-position: -400px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xrzip {
  width: 40px;
  height: 40px; 
  background-position: -100px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtdiscuss {
  width: 40px;
  height: 40px; 
  background-position: 0px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtdrawing {
  width: 40px;
  height: 40px; 
  background-position: -490px -50px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtgame {
  width: 40px;
  height: 40px; 
  background-position: -200px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xthomework {
  width: 40px;
  height: 40px; 
  background-position: -150px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtmicroclass {
  width: 40px;
  height: 40px; 
  background-position: -50px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtmind {
  width: 40px;
  height: 40px; 
  background-position: -420px -350px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtother {
  width: 40px;
  height: 40px; 
  background-position: -490px -150px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtpractise {
  width: 40px;
  height: 40px; 
  background-position: -490px -100px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtpreparation {
  width: 40px;
  height: 40px; 
  background-position: -490px 0px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtresource {
  width: 40px;
  height: 40px; 
  background-position: -350px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xttest {
  width: 40px;
  height: 40px; 
  background-position: -300px -420px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtvote {
  width: 40px;
  height: 40px; 
  background-position: -50px -520px;
  background-size: 622px 616px;
}

.tw-ico.x40.xtwork {
  width: 40px;
  height: 40px; 
  background-position: -540px -200px;
  background-size: 622px 616px;
}

.tw-ico.x60.xraudio {
  width: 60px;
  height: 60px; 
  background-position: -420px -280px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrcourseware {
  width: 60px;
  height: 60px; 
  background-position: -420px -210px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrdir {
  width: 60px;
  height: 60px; 
  background-position: -420px -140px;
  background-size: 622px 616px;
}

.tw-ico.x60.xredue {
  width: 60px;
  height: 60px; 
  background-position: -420px -70px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrepub {
  width: 60px;
  height: 60px; 
  background-position: -420px 0px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrepub2 {
  width: 60px;
  height: 60px; 
  background-position: -350px -350px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrepub3 {
  width: 60px;
  height: 60px; 
  background-position: -70px 0px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrexcel {
  width: 60px;
  height: 60px; 
  background-position: -210px -350px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrflash {
  width: 60px;
  height: 60px; 
  background-position: -140px -350px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrformala {
  width: 60px;
  height: 60px; 
  background-position: -70px -350px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrgoodclass {
  width: 60px;
  height: 60px; 
  background-position: 0px -350px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrh5 {
  width: 60px;
  height: 60px; 
  background-position: -350px -280px;
  background-size: 622px 616px;
}

.tw-ico.x60.xriamge {
  width: 60px;
  height: 60px; 
  background-position: -350px -210px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrnet {
  width: 60px;
  height: 60px; 
  background-position: -350px -140px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrotcase {
  width: 60px;
  height: 60px; 
  background-position: -350px -70px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrother {
  width: 60px;
  height: 60px; 
  background-position: -350px 0px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrpaper {
  width: 60px;
  height: 60px; 
  background-position: -280px -280px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrpdf {
  width: 60px;
  height: 60px; 
  background-position: -210px -280px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrpformula {
  width: 60px;
  height: 60px; 
  background-position: -140px -280px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrppt {
  width: 60px;
  height: 60px; 
  background-position: -70px -280px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrquestion {
  width: 60px;
  height: 60px; 
  background-position: 0px 0px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrteachcase {
  width: 60px;
  height: 60px; 
  background-position: -280px -210px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrteachtool {
  width: 60px;
  height: 60px; 
  background-position: -280px -140px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrtext {
  width: 60px;
  height: 60px; 
  background-position: -280px -70px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrvideo {
  width: 60px;
  height: 60px; 
  background-position: -280px 0px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrword {
  width: 60px;
  height: 60px; 
  background-position: -210px -210px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrxml {
  width: 60px;
  height: 60px; 
  background-position: -140px -210px;
  background-size: 622px 616px;
}

.tw-ico.x60.xrzip {
  width: 60px;
  height: 60px; 
  background-position: -70px -210px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtdiscuss {
  width: 60px;
  height: 60px; 
  background-position: 0px -210px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtdrawing {
  width: 60px;
  height: 60px; 
  background-position: -210px -140px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtgame {
  width: 60px;
  height: 60px; 
  background-position: -210px -70px;
  background-size: 622px 616px;
}

.tw-ico.x60.xthomework {
  width: 60px;
  height: 60px; 
  background-position: -210px 0px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtmicroclass {
  width: 60px;
  height: 60px; 
  background-position: -140px -140px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtmind {
  width: 60px;
  height: 60px; 
  background-position: -70px -140px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtother {
  width: 60px;
  height: 60px; 
  background-position: 0px -140px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtpractise {
  width: 60px;
  height: 60px; 
  background-position: -140px -70px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtpreparation {
  width: 60px;
  height: 60px; 
  background-position: -140px 0px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtresource {
  width: 60px;
  height: 60px; 
  background-position: -70px -70px;
  background-size: 622px 616px;
}

.tw-ico.x60.xttest {
  width: 60px;
  height: 60px; 
  background-position: 0px -70px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtvote {
  width: 60px;
  height: 60px; 
  background-position: 0px -280px;
  background-size: 622px 616px;
}

.tw-ico.x60.xtword {
  width: 60px;
  height: 60px; 
  background-position: -280px -350px;
  background-size: 622px 616px;
}

.tw-ico.xtip {
  width: 20px;
  height: 20px; 
  background-position: -90px -570px;
  background-size: 622px 616px;
}

.tw-ico.xuldel1 {
  width: 24px;
  height: 24px; 
  background-position: -294px -520px;
  background-size: 622px 616px;
}

.tw-ico.xuldel2 {
  width: 17px;
  height: 16px; 
  background-position: -436px -520px;
  background-size: 622px 616px;
}

.tw-ico.xsearch {
  width: 20px;
  height: 20px; 
  background-position: -180px -570px;
  background-size: 622px 616px;
}

.tw-search-btnbox:hover > .tw-ico.xsearch {
  width: 20px;
  height: 20px; 
  background-position: -150px -570px;
  background-size: 622px 616px;
}

.tw-body-sidebar-toolbar.xcollapse  > .tw-ico.xsidebtn {
  width: 16px;
  height: 14px; 
  background-position: -234px -600px;
  background-size: 622px 616px;
}

.tw-ico.xsidebtn {
  width: 16px;
  height: 14px; 
  background-position: -208px -600px;
  background-size: 622px 616px;
}

.tw-ico.xfilter:hover {
  width: 8px;
  height: 10px; 
  background-position: -438px -400px;
  background-size: 622px 616px;
}

.tw-ico.xfilter {
  width: 8px;
  height: 10px; 
  background-position: -558px -500px;
  background-size: 622px 616px;
}

.tw-ico.xrefresh {
  width: 16px;
  height: 16px; 
  background-position: -541px -520px;
  background-size: 622px 616px;
}

.tw-ico.xsetting {
  width: 16px;
  height: 16px; 
  background-position: -515px -520px;
  background-size: 622px 616px;
}

.tw-ico.xsort {
  width: 8px;
  height: 11px; 
  background-position: -432px -600px;
  background-size: 622px 616px;
}

.tw-ico.xsort.xasc {
  width: 8px;
  height: 11px; 
  background-position: -450px -600px;
  background-size: 622px 616px;
}

.tw-ico.xsort.xdesc {
  width: 8px;
  height: 11px; 
  background-position: -414px -600px;
  background-size: 622px 616px;
}

a:hover > .tw-ico.xrefresh {
  width: 16px;
  height: 16px; 
  background-position: -489px -520px;
  background-size: 622px 616px;
}

a:hover > .tw-ico.xsetting {
  width: 16px;
  height: 16px; 
  background-position: -52px -600px;
  background-size: 622px 616px;
}

a:hover > .tw-ico.xsort {
  width: 8px;
  height: 11px; 
  background-position: -468px -600px;
  background-size: 622px 616px;
}

.tw-ico.xtftoggle:hover {
  width: 24px;
  height: 24px; 
  background-position: -192px -520px;
  background-size: 622px 616px;
}

.tw-ico.xtftoggle {
  width: 24px;
  height: 24px; 
  background-position: -500px -470px;
  background-size: 622px 616px;
}

.tw-ico.xtftoggle.xopen:hover {
  width: 24px;
  height: 24px; 
  background-position: -450px -420px;
  background-size: 622px 616px;
}

.tw-ico.xtftoggle.xopen {
  width: 24px;
  height: 24px; 
  background-position: -590px -488px;
  background-size: 622px 616px;
}
