/* 图片组 */
$images-height: 60px !default; // 图片高度
$images-spacing: $spacing-tiny !default; // 图片间距
$images-mb: $spacing-tiny !default; // 图片组下边距

// 图片组: 主容器
.tw-images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $images-spacing / -2 $images-mb $images-spacing / -2;
}

// 图片组: 图片容器
.tw-images-item {
  position: relative;
  flex-shrink: 0;
  padding: $images-spacing / 2;
}

// 图片组: 图片本身
.tw-images-imgself {
  height: $images-height;
}

// 图片组: 图片工具
.tw-images-imgtool {
  position: absolute;
  top: $images-spacing / 2;
  right: $images-spacing / 2;
}

// 图片组: 工具图标
.tw-images-imgtool > .tw-ico,
.tw-images-imgtool > .tw-font {
  vertical-align: top;
}
